


.container {
  background: #ffffff;
  width: 320px;
  padding: 30px;
  margin: 60px auto;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  height: 60vh;
}

.container h2 {
  margin-bottom: 20px;
}

.container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.container button:hover {
  background: #0056b3;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
}

.signup span {
  color: #007bff;
  cursor: pointer;
}
