/*Contact page*/
.contact-section {
  padding: 80px 20px;
  background-color: #ffffff;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}


.contact-info h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0f172a;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 12px;
  color: #334155;
}


.contact-image img {
  max-width: 400px;
  width: 100%;
}
