nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 20px 0px;
    z-index: 2;
}

nav .logo{
    color: rgb(233, 114, 3);
    font-size: 20px;;
    font-weight: bold;
}

nav ul{
    display: flex;;
    gap: 20px;
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 10px;
    cursor: pointer;
}
a:hover {
    color: rgb(240, 128, 24);
    background-color: #222;
    border-radius: 8px;
}
