.hero{
    background-image: url("../Assets/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: rgb(248, 246, 246);
    padding: 0 20px;
    

}

.hero h1{
    text-align: start;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.hero p{
    font-size: 18px;
    color: #3b2001;
    margin-bottom: 20px;
}
.btn button{
    margin: 5px;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #222;
    color: rgb(247, 142, 73);
}

