


nav{
    background-color: rgb(109, 107, 104);
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display:flex;
    align-items: center;
}


.hero{
    background-size: cover;
    background-position: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp0T9Hi685FLIV3eqKW_fhIJQLUxiH8tZQjQ&s');

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(243, 238, 238);
    padding: 0 20px;
    z-index: 1;
    position: relative;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}

button{
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
}

.sec{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 5px;
    justify-content: flex-start;
}
/*About*/
.sec h1{
    font-size: larger;
    font-family: sans-serif;
}

.sec p{
    font-size: 16px;

}

footer{
    background-color:grey ;
    height: 60px;
    display: flex;
    justify-content: center;

}
