h1 {
  text-align: center;
  margin: 30px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}


.card {
  width: 270px;
  background-color: #e7e4e0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}


.card img {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.card h1 {
  font-size: 22px;
  color: #222;
  text-align: center;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
}
